/* .main-header {
  background: url(../img/meeting2.jpeg);
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;
} */

.main-header{ 
  background: url(../img/meeting2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.portfolio-header {
  background: url(../img/pencil.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}
.select-dropdown {
  font-size: 18px !important;
}
.portfolio-nav {
  background-color: aquamarine;
}
#portfolioHeading {
  color: grey;
}
.brand-logo {
  color: grey;
}
/* label color */
.input-field label {
  color: grey;
  font-size: 18px;
}
.file-path {
  color: gray;
}
.test {
  color: grey;
  font-size: 38px;
}
.card-content {
  font-size: 14px;
}
.card-title {
  font-size: 14px;
}
#cd {
  font-size: 14px;

}

.main-header .showcase {
  padding-top: 100px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

/* Modal for Login */
.modal {
  width: 40% !important;
  height: 50% !important;
}
h4 {
  padding-top: 20px;
}

.signin {
  margin: 20px;
}

#submit {
  margin-right: 10px;
}
/* End of Modal for login */

/* Profile Page */
#profession-name {
  width: 75%;
}
.form-area {
  padding: 20px !important;
}

#profile-nav {
  background-color: #26a69a;
}

.logout-link {
  color: rgb(248, 247, 247);
  font-weight: bold;
}
.profile-sec {
  margin-left: 35px;
}

.images {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 15px;
}

#nodata {
  background-color: black;
  color:red;
  border:red 2px solid;
  padding: 20px;
  text-align: center;
}
/* #membercard{
  background-color: black !important;
} */
body{
  background-color: rgb(251, 255, 227)
}

